<div style="text-align: center;">
  <img src="images/flood_tool_logo.png" alt="Flood Tool Logo" width=80"/>
</div>

<div style="text-align: center;">
    <img src="images/flood_tool_banner.png" alt="Flood Tool Banner" width="250"/>
</div>

# User Guide

This document gives a brief overview on how to interact with the flood_tool package. Users are free to save this locally and experiment with the functions

In [3]:
%load_ext autoreload
# Set autoreload to reload all modules (1: Reload all modules, 2: Reload all modules and dependencies)
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

## Import the class and necessary library.

In [4]:
import sys
sys.path.append('..')
import flood_tool as ft
from flood_tool.tool import*
from flood_tool.geo import *

# Main functions

## Core function, please provide data here. If no data is provided, the database that comes with the package will be used.

In [5]:
tool = Tool()

* Inputs should follow below:  
>unlabelled_unit_data = "path/to/unlabelled/data.csv"  
    labelled_unit_data = "path/to/labelled/data.csv"  
    sector_data = "path/to/sector/data.csv"  
    district_data = "path/to/district/data.csv"  
    stations = "path/to/stations/data.csv"  
    additional_data={}

# To check whether the input data is correct please use the following once you provide data:

## Check Labelled Data

In [4]:
tool._labeldb.head()

,postcode,easting,northing,soilType,elevation,localAuthority,riskLabel,medianPrice,historicallyFlooded
0,OL9 7NS,390978,403269,Unsurveyed/Urban,130,Oldham,1,119100.0,False
1,WV13 2LR,396607,298083,Unsurveyed/Urban,130,Walsall,1,84200.0,False
2,LS12 1LZ,427859,432937,Unsurveyed/Urban,60,Leeds,1,134900.0,False
3,SK15 1TS,395560,397900,Unsurveyed/Urban,120,Tameside,1,170200.0,False
4,TS17 9NN,445771,515362,Unsurveyed/Urban,20,Stockton-on-Tees,1,190600.0,False

## Check Unlabelled Data

In [5]:
tool._postcodedb.head()

   postcode  easting  northing          soilType  elevation
0   M34 7QL   393470    394371  Unsurveyed/Urban        110
1   OL4 3NQ   395420    405669  Unsurveyed/Urban        210
2   B36 8TE   411900    289400  Unsurveyed/Urban         90
3  NE16 3AT   420400    562300  Unsurveyed/Urban         10
4  WS10 8DE   397726    296656  Unsurveyed/Urban        140

## Check Sector Data

In [6]:
tool._population.head()

  postcodeSector  households  numberOfPostcodeUnits  headcount
0         AL1  1        2546                    311       6080
1         AL1  2        2642                    236       6942
2         AL1  3        2272                    388       5821
3         AL1  4        3707                    339       9635
4         AL1  5        4406                    347      10560

## Check District Data

In [7]:
tool._pets.head()

  postcodeDistrict  catsPerHousehold  dogsPerHousehold
0             AB10          0.164463          0.188610
1             AB11          0.206145          0.236411
2             AB12          0.300306          0.344397
3             AB13          1.145815          1.314045
4             AB14          1.008732          1.156835

## Check Stations Data

In [8]:
tool._stationsd.head()

,stationReference,stationName,latitude,longitude,maxOnRecord,minOnRecord,typicalRangeHigh,typicalRangeLow
0,000008,Rainfall station,53.480556,-1.441674,NaN,NaN,NaN,NaN
1,000028,Rainfall station,53.500289,-1.673575,NaN,NaN,NaN,NaN
2,000075TP,Rainfall station,51.084022,-0.214597,NaN,NaN,NaN,NaN
3,000076TP,Rainfall station,51.701508,-0.747539,NaN,NaN,NaN,NaN
4,000180TP,Rainfall station,51.618838,0.173236,NaN,NaN,NaN,NaN

___

## Transfer Postcodes into OSGB36 Eastings and Northings
Get a dataframe of OSGB36 eastings and northings from a collection of input postcodes.

* The Ordnance Survey National Grid reference system (OSGB) (also known as British National Grid (BNG) is a system of geographic grid references used in Great Britain, distinct from latitude and longitude.

* If input postcodes is none, it will return all the locations from unlabelled postcodes file.

In [9]:
tool.lookup_easting_northing(['M34 7QL'])

          easting  northing
postcode
M34 7QL    393470    394371

In [10]:
tool.lookup_easting_northing()

          easting  northing
postcode
M34 7QL    393470    394371
OL4 3NQ    395420    405669
B36 8TE    411900    289400
NE16 3AT   420400    562300
WS10 8DE   397726    296656
...           ...       ...
NN9 7TY    488200    264700
HU6 7YG    508055    434044
LS12 1DY   428431    432867
DN4 6TZ    462498    401208
S31 9BD    441723    378785

[10000 rows x 2 columns]

## Transfer Postcodes into GPS Latitude and Longitude
Get a Pandas dataframe containing GPS latitude and longitude information for a collection of of postcodes.
* If input postcodes is none, it will __not__ return all the locations from unlabelled postcodes file.
* If input postcodes does not present in given file, it will __not__ return any value.

In [11]:
tool.lookup_lat_long(['M34 7QL'])

          longitude   latitude
postcode
M34 7QL   -2.099783  53.446064

___

## Predicting Flood Probaility Classification from Postcodes
Generate series predicting flood probability classification for a collection of postcodes.  

Flood risk probability classification has 1-10 classes, 10 shows highest risk.  
* If input postcodes is none, it will return all the locations from unlabelled postcodes file.
* If input postcodes does not present in given file, it will __not__ return any value.
* Currently this function does not provide other models than default ('better_selection') and will be updated in future versions.
* More information please look at README.md

In [12]:
tool.predict_flood_class_from_postcode(['M34 7QL'])

training local_rf
training better_selection

postcode
M34 7QL    1
Name: riskLabel, dtype: int64

In [13]:
tool.predict_flood_class_from_postcode()

training local_rf
training better_selection

postcode
M34 7QL     1
OL4 3NQ     1
B36 8TE     1
NE16 3AT    1
WS10 8DE    1
           ..
NN9 7TY     1
HU6 7YG     9
LS12 1DY    1
DN4 6TZ     1
S31 9BD     1
Name: riskLabel, Length: 10000, dtype: int64

___

## Predicting Flood Probaility Classification from OSGB36

Generate series predicting flood probability classification for a collection of locations given as eastings and northings on the Ordnance Survey National Grid (OSGB36) datum.

* If input is none, it will return all the locations from unlabelled postcodes file.
* Currently this function does not provide other models than default ('better_selection') and will be updated in future versions.
* More information please look at README.md

In [14]:
tool.predict_flood_class_from_OSGB36_location([393470],[394371])

training better_selection
training local_rf

Easting  Northing
393470   394371      1
Name: riskLabel, dtype: int64

In [15]:
tool.predict_flood_class_from_OSGB36_location()

training better_selection
training local_rf

Easting  Northing
393470   394371      1
395420   405669      1
411900   289400      1
420400   562300      1
397726   296656      1
                    ..
488200   264700      1
508055   434044      1
428431   432867      1
462498   401208      1
441723   378785      1
Name: riskLabel, Length: 10000, dtype: int64

___

## Predicting Flood Probaility Classification from WGS84
Generate series predicting flood probability classification for a collection of WGS84 datum locations.

* __The default input is 'latitudes' first, and 'longitudes', please make sure the input is correct.__
* If input is none, it will __not__ return all the locations from unlabelled postcodes file.
* Currently this function does not provide other models than default ('better_selection') and will be updated in future versions.
* More information please look at README.md

Using Leeds WGS84 location:
53° 48' 4.5972'' N and 1° 32' 54.8412'' W. Leeds, UK

In [16]:
tool.predict_flood_class_from_WGS84_locations([53.48],[1.32])

training better_selection
training local_rf

Easting        Northing
620395.659881  403272.885151    3
Name: riskLabel, dtype: int64

____

## Predicting Median House Price from Postcodes
Generate series predicting median house price for a collection of postcodes.

* If input postcodes is none, it will return all the median house price from unlabelled postcodes file.
* If input postcodes does not present in given file, it will not return any value.
* More information please look at README.md

In [17]:
tool.predict_median_house_price(['M34 7QL'])

training house_price_rf

M34 7QL    168554.976364
Name: medianPrice, dtype: float64

In [18]:
tool.predict_median_house_price()

training house_price_rf

M34 7QL     168554.976364
OL4 3NQ     144522.262040
B36 8TE     131491.418692
NE16 3AT    131366.410242
WS10 8DE    134105.357747
                ...
NN9 7TY     232223.460974
HU6 7YG      82608.295115
LS12 1DY    138924.076862
DN4 6TZ     189932.416578
S31 9BD     173408.786004
Name: medianPrice, Length: 10000, dtype: float64

___

## Predicting Local Authority from OSGB36 Locations
Generate series predicting local authorities for a sequence of OSGB36 locations.
* If input is none, it will return all the prediction of local authority for unlabelled postcodes file.
* More information please look at README.md

In [19]:
tool.predict_local_authority([393470],[394371])

training local_rf

Northing  Easting
393470    394371     Tameside
dtype: object

In [20]:
tool.predict_local_authority()

training local_rf

Northing  Easting
393470    394371                        Tameside
395420    405669                          Oldham
411900    289400                      Birmingham
420400    562300                       Gateshead
397726    296656                         Walsall
                                ...
488200    264700          North Northamptonshire
508055    434044     Kingston upon Hull, City of
428431    432867                           Leeds
462498    401208                       Doncaster
441723    378785           North East Derbyshire
Length: 10000, dtype: object

___

## Predicting Historic Flooding from Postcodes
Generate series predicting historic flooding event for a collection of postcodes.

* If input postcodes is none, it will return all the historic flooding based on postcodes from unlabelled postcodes file.
* If input postcodes does not present in given file, it will not return any value.
* More information please look at README.md

In [21]:
tool.predict_historic_flooding(['M34 7QL'])

training historic_rf

M34 7QL    False
Name: historicallyFlooded, dtype: bool

In [22]:
tool.predict_historic_flooding()

training historic_rf

M34 7QL     False
OL4 3NQ     False
B36 8TE     False
NE16 3AT    False
WS10 8DE    False
            ...
NN9 7TY     False
HU6 7YG     False
LS12 1DY    False
DN4 6TZ     False
S31 9BD     False
Name: historicallyFlooded, Length: 10000, dtype: bool

___

## Predicting Total Value from postcodes
Return a series of estimates of the total property values of a sequence of postcode units or postcode sectors.

* If input postcodes is none, it will return the total value based on postcodes from unlabelled postcodes file.
* If input postcodes does not present in given file, it will not return any value.
* More information please look at README.md

In [23]:
tool.predict_total_value(['M34 7QL'])

training house_price_rf

groupedPostcodes
M34 7QL    168554.976364
Name: medianPrice, dtype: float64

In [24]:
tool.predict_total_value()

training house_price_rf

groupedPostcodes
B1 1BT     238152.250110
B1 1JS     246321.531282
B1 1RD     236294.972427
B1 1US     256154.243866
B1 2AJ     311966.965995
               ...
YO8 9LF    238285.866776
YO8 9QT    220981.622859
YO8 9UZ    218305.294936
YO8 9XE    222974.077006
YO8 9XW    208991.702800
Name: medianPrice, Length: 10000, dtype: float64

___

## Predicting Annual Flood Risk from Postcodes
Return a series of estimates of the annual flood risk of a collection of postcodes.

Risk is defined here as a damage coefficient multiplied by the value under threat multiplied by the probability of an event.


* If input postcodes is none, it will return all the annual flood risk based on postcodes from unlabelled postcodes file.
* If input postcodes does not present in given file, it will not return any value.
* More information please look at README.md

In [25]:
tool.predict_annual_flood_risk(['M34 7QL'])

training local_rf
training better_selection
training house_price_rf

groupedPostcodes
M34 7QL    8.427749
dtype: float64

In [26]:
tool.predict_annual_flood_risk()

training local_rf
training better_selection
training house_price_rf

groupedPostcodes
B1 1BT      11.907613
B1 1JS      12.316077
B1 1RD      11.814749
B1 1US      12.807712
B1 2AJ      15.598348
              ...
YO8 9LF     11.914293
YO8 9QT     11.049081
YO8 9UZ     10.915265
YO8 9XE     11.148704
YO8 9XW    156.743777
Length: 10000, dtype: float64

____

## Final Outcome for All Predictions

Return a pandas DataFrame containing all outputs from the training models (predicted median house price, local authority, historic flooding, flood class and annual flood risk). 

* If input postcodes is none, it will return all the postcodes from unlabelled postcodes file.
* If input postcodes does not present in given file, it will not return any value.
* More information please look at README.md

In [27]:
tool.collate_outputs(['M34 7QL'])

training house_price_rf
training historic_rf
training local_rf
training better_selection
training local_rf
training better_selection
training house_price_rf

         median_house_price  historic_flooding  flood_class  annual_flood_risk
M34 7QL       168554.976364              False            1           8.427749

In [28]:
tool.collate_outputs()

training house_price_rf
training historic_rf
training local_rf
training better_selection
training local_rf
training better_selection
training house_price_rf

         median_house_price  historic_flooding  flood_class  annual_flood_risk
B1 1BT        238152.250110              False            1          11.907613
B1 1JS        246321.531282              False            1          12.316077
B1 1RD        236294.972427              False            1          11.814749
B1 1US        256154.243866              False            1          12.807712
B1 2AJ        311966.965995              False            1          15.598348
...                     ...                ...          ...                ...
YO8 9LF       238285.866776              False            1          11.914293
YO8 9QT       220981.622859               True            1          11.049081
YO8 9UZ       218305.294936               True            1          10.915265
YO8 9XE       222974.077006              False            1          11.148704
YO8 9XW       208991.702800              False            6         156.743777

[10000 rows x 4 columns]

## All other functions 

Any questions about other functions included in the package can be found in additional_methods (covers methods that are used but not considered core to the functionality) or exploration (covers methods that are left into the package, but not used in constructing the final output). Additionally, we direct users to ideas_for_next_steps if they would like to improve and ammend the package.