In [ ]:
import flood_tool as ft
from flood_tool import Tool
import pandas as pd

## 1. Using the default parameters of the ***display_features***

By default, the ***display_fetaures()*** will display the Risk level for each PostCode and the contour line for the Risk level as a number between 1 and 10.

***display_features()*** is using **"../resources/postcodes_labelled.csv"** as a default file for plotting. The upper right corner contains all the layers available for visualisation. 

The current version supports the following layers: Postcode (as points), Risk Labels Postcodes (individual postcode and their corresponding risk label), Risk Area, which are selected areas you can zoom in to get a HeatMap around and Countor lines of the selected feature.

In [ ]:
default = ft.display_features()

In [ ]:
default

If there are other features in the file, it is possible to pass a paramater to ***display_fetaures()***. We can see that **"postcodes_labelled.csv"** has different features such as elevation or medianPrice. This features can be pass as a parameter to  ***display_fetaures()***

In [ ]:
postcodes_labelled = pd.read_csv(r'flood_tool/resources/postcodes_labelled.csv')
postcodes_labelled.head()

In [ ]:
#medianPrice = ft.display_features(parameter = 'medianPrice')

In [ ]:
#medianPrice

The **display_fetaures()** tool can also take the file's location as a parameter. The user needs to pass the path of the file and the parameter to be displayed onto the map

In [ ]:
#wet_day = pd.read_csv(r'flood_tool/resources/wet_day.csv')

In [ ]:
#wet_day = ft.add_countours(param = 'rainfall', risk_or_rainfall='rainfall_river', rainfall_river_data=r'flood_tool/resources/wet_day.csv')

In [ ]:
#wet_day

## 2. Using the results of the prediction tools as inputs of ***display_features***

When creating an objetc of Tool() the user will have access to collate_outputs() which will return a dataframe with the results of the prediction of flood risk

In [1]:
from flood_tool import Tool

In [2]:
tool = Tool()

In [3]:
outputs =  tool.collate_outputs()

training house_price_rf
training historic_rf
training local_rf
training better_selection
training local_rf
training better_selection
training house_price_rf

In [4]:
outputs

,postcode,median_price,historic_flooding,riskLabel,annual_flood_risk,northing,easting
0,B1 1BT,238152.250110,0.0,1,11.907613,286393,406875
1,B1 1JS,246321.531282,0.0,1,12.316077,286230,406543
2,B1 1RD,236294.972427,0.0,1,11.814749,286490,406624
3,B1 1US,256154.243866,0.0,1,12.807712,286530,406649
4,B1 2AJ,311966.965995,0.0,1,15.598348,286764,406620
...,...,...,...,...,...,...,...
9995,YO8 9LF,238285.866776,0.0,1,11.914293,428627,456223
9996,YO8 9QT,221064.290238,1.0,1,11.053215,430975,461235
9997,YO8 9UZ,218386.961123,1.0,1,10.919348,432471,461525
9998,YO8 9XE,222974.077006,0.0,1,11.148704,430888,461063
9999,YO8 9XW,208991.702800,0.0,6,156.743777,430632,459350

In [5]:
import flood_tool as ft

In [ ]:
outputs_display = ft.display_features(data=outputs, parameter='annual_flood_risk')